<link rel="stylesheet" href="/css/signUp.css">

<h1>sign up</h1>
<div id="signcontainer">
<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Your Name" required class="email-input">
    <input type="email" name="email" placeholder="Your Email" required class="email-input">
    <input type="password" name="password" placeholder="Your Password" required class="email-input">
    <input type="password" name="confirm_password" placeholder="Confirm Password" required class="email-input">
    <input type="submit" value="Sign Up" id="s-btn">
</form>
<br>
<p>
    <a href="auth/google">Google SignIn/SignUp</a>
</p>
</div>