body{
    background-color: aquamarine;
}
#friend-style{
    height: 40px;
    width: 85px;
    background-color:blue;
    color: white;
    margin-left: 10px;
}
#friend-style2{
    height: 40px;
    width: 85px;
    background-color:red;
    color: white;
    margin-left: 10px;
}
#friend-style a{
    text-decoration: none;
    color: blanchedalmond;
}
#friend-style2 a{
    text-decoration: none;
    color: blanchedalmond;
}